<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
           <img src="https://i.kinja-img.com/gawker-media/image/upload/s--vIqQhUac--/c_fill,fl_progressive,g_center,h_200,q_80,w_200/eti2h1r4wg0bqxctxenl.png">
           <a class="navbar-brand" href="/">Onion News Scrapper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            
        </ul>
        </div>
</nav>